.super {
	height: 3000px;
}


.super-bg {
	position: absolute;
	z-index: -9001;
	top: 0px;
	height: -webkit-fill-available;
	width: -webkit-fill-available;
	transition: opacity 0.5s ease-in-out;
}

.super h1 {
	
color: #19191a;
	
text-shadow: 1px 1.2px #550cca;
}