.menu-bar {
	background-image: linear-gradient(#080b12, #060618);
	position: fixed;
	display: inline;
	width: 16%;
	bottom: 0px;
	min-width: 200px;
	left: 0px;
	top: 0px;
	z-index: 9001;
}

.nav-menu-dropdown-list {
	left: 6px;
	overflow: hidden;
	height:0px;
	transition: height 0.4s;
}

.nav-menu {
	padding-left: 20px;
}

.menu-bar a, .nav-menu-item-header {
	display: block;
	color: #bdbdbd;
	font-family: "Segoe UI Semibold";
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
	width: -webkit-fill-available;
	padding-top: 8px;
	padding-bottom: 2px;
	cursor: pointer;
}

.nav-menu * {
	position: relative;
}


.menu-bar * {
	color: #fff;
}

#nav-menu-bar-title {
	font-size: 51px;
	text-align: center;
	letter-spacing: 6px;
}

#nav-menu-bar-subtitle {
	font-size: 28px;
	text-align: center;
	letter-spacing: 6px;
	margin-bottom: 20px;
	top: -18px;
}
	
.nav-menu-downArrow {
	width: 12px;
	height: 6px;
	right: 15px;
    top: 14px;
    position: absolute;
}

.super {
	background-image: linear-gradient(#37234d, #060618);
	z-index: -9002;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	bottom: 0px;
	width: 84%;
	max-width: calc(100% - 200px);
}

.A2HS-button {
	display: none;
	position: absolute;
	bottom: 15px;
}

.A2HS-Button p {
	cursor: pointer;
}

.offline {
	display:none;
	position: fixed;
	background-color: #000022;
}