.menu-bar {
	background-image: linear-gradient(#080b12, #060618);
	position: fixed;
	display: inline;
	width: var(--menu-bar-width);
	bottom: 0px;
	left: 0px;
	top: 0px;
	z-index: 9001;
}

.nav-menu-dropdown-list {
	left: 6px;
	overflow: hidden;
	height:0px;
	transition: height 0.4s;
}

.nav-menu {
	padding-left: 20px;
}

.menu-bar a, .nav-menu-item-header {
	display: block;
	color: #bdbdbd;
	font-family: "Segoe UI Semibold";
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
	width: -webkit-fill-available;
	padding-top: 8px;
	padding-bottom: 2px;
	cursor: pointer;
}

.nav-menu * {
	position: relative;
}


.menu-bar * {
	color: #fff;
}

#nav-menu-bar-title {
	font-size: 51px;
	text-align: center;
	letter-spacing: 6px;
}

#nav-menu-bar-subtitle {
	font-size: 28px;
	text-align: center;
	letter-spacing: 6px;
	margin-bottom: 20px;
	top: -18px;
}

.nav-menu-downArrow {
	width: 12px;
	height: 6px;
	right: 15px;
	top: 14px;
	position: absolute;
}

.super {
	background-image: linear-gradient(#37234d, #060618);
	z-index: -9002;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: var(--banner-top);
	bottom: 0px;
	width: calc(100% - var(--menu-bar-width));
	transition: top 0.4s;
}

.A2HS-button {
	display: none;
	position: absolute;
	bottom: 15px;
}

.A2HS-Button p {
	cursor: pointer;
}

.banner {
	position: fixed;
	background-color: #2e6da3;
	right: 0px;
	top: calc(var(--banner-top) - 35px);
	width: calc(100% - var(--menu-bar-width));
	max-width: calc(100% - 200px);
	transition: top 0.4s;
	height: 35px;
}

.banner h3, .banner h4 {
	position: relative;
	top: -3px;
	left: 1px;
	transform: translateY(-50%);
	color: #0b2a06;
	text-shadow: 1px 1px #825972;
}

.banner div {
	position:absolute;
	right: 40px;
	top:10px;
	cursor: pointer;
}

.banner div * {
	display:inline;
}

body {
	--banner-top: 0px;
	--menu-bar-width: 14%;
}

@media (max-width: 600px) {
	body {
		--menu-bar-width: 180px;
	}
}